:root {
    --accent-color: #bcbaba; /* Define the accent color */
}

.wrap {
    background-color: #dfdede;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
}

.sampleIMG {
    width: 400px;
    height: 400px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
 
.color-picker {
    width: 100px;
    background-color: var(--accent-color);
}

input[type="text"].regular-text {
    width: 100%;
    max-width: 400px;
}

label {
    display: block;
    margin: 10px 0;
}

textarea {
    width: 100%;
    max-width: 400px;
    height: 100px;
    padding: 5px;
}

fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

select {
    width: 100%;
    max-width: 200px;
    padding: 5px;
}

.submit-button {
    margin-top: 20px;
    background-color: var(--accent-color); /* Use the accent color for the button background */
    color: #fff; /* Text color for the button */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
