@keyframes slideIn {
    from {
      transform: translateY(1000%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }  
@keyframes slideOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(1000%);
        opacity: 0;
    }
}

.closeButton {
    position: absolute;
    top: -17px;
    right: 3px;
    cursor: pointer;
}
#ttoast.hidden {
    animation: slideOut 1s ease-in-out;
    opacity: 0;
}
#ttoast {
    animation: slideIn 1s ease-in-out;
    position:fixed;
    opacity: 0.9;
    outline: 2px solid black;
    border-radius: 5px;
    max-width: 400px;
    max-height: 50px;
    margin: auto;
    color: #000000;
    text-align: center;
    border-radius: 2px;
    z-index: 9999;
    font-size: 17px;
    white-space: nowrap;
    line-height: 50px; 
    text-align: center;
    vertical-align: middle;
}
#ttoast #img{
    text-align: center;
    top:50%;
    left:50%;
    width: 50px;
    height: 50px;       
    float: left;
    box-sizing: border-box;                           
    color: #000000;
}
#ttoast #img #notificon{
    display: flex;
    justify-content: center;
    align-items: center;
}
#ttoast #img #notificon::before{

    content:'\f007';
    font: var(--fa-font-regular);

}
#ttoast #desc{
    text-align: center;
    color: #000000;
    padding: 1;
    margin:1px;
    overflow: hidden;
    white-space: nowrap;
}
